.Header {
  height: auto;
  position: relative;
  pointer-events: none;
  text-align: center;
  padding-bottom: 2rem;
}

.Header-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.Header-info {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header-title {
  font-size: 50px;
  color: #fff;
  margin-top: 0;
  width: 76vw;
  padding-top: 10rem;
  text-align: center;
}

.Header-description {
  font-size: 20px;
  color: #fff;
  width: 50vw;
  text-align: center;
}

.Header-button {
  background-color: #99ca62;
  color: #fff;
  border: none;
  padding: 16px 20px;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  pointer-events: auto;
}

@media screen and (min-width: 900px) {
  .Header {
    height: 100vh;
    position: relative;
    pointer-events: none;
    text-align: center;
  }
}