.Navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.Navbar-item {
  width: 120px;
}

.Navbar-logo {
  height: 120px;
  width: 120px;
}

.Navbar-small-logo {
  width: 60px;
  height: 60px;
}

.Navbar-button {
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
  pointer-events: auto;
}

.Navbar-sandwich {
  list-style-type: none;
  pointer-events: inherit;
  display: inline-block;
  cursor: pointer;
}

.Navbar-sandwich > li {
  width: 60px;
  height: 5px;
  background-color: #99ca62;
  pointer-events: inherit;
  margin: 6px 0;
}