.Footer {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr;
  background-color: #99ca62;
  height: auto;
  width: 100vw;
}

.Footer-unordered {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Footer-logo {
  height: 120px;
  width: 120px;
}

.Footer-box {
  margin-top: 2rem;
  min-height: 10rem;
  width: 80%;
  margin: auto;
}

.Footer-Email {
  background-color: #99ca62;
  border: none;
  border-bottom: solid 2px darkgreen;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  width: 7rem;
}

.Footer-Email:focus {
  outline: none;
}

.Footer-signup {
  background-color: #99ca62;
  border: none;
  border-bottom: solid 2px darkgreen;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.Border {
  background-color: #f9f2dd;
  min-height: 60px;
}

.Border-text {
  color: brown;
  margin: 0;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
}

@media screen and (min-width: 900px) {
  .Footer {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    height: 16rem;
  }
}