.Footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #99ca62;
  height: 16rem;
  width: 100vw;
}

.Footer-unordered {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Footer-logo {
  height: 120px;
  width: 120px;
}

.Footer-box {
  margin-top: 2rem;
}

.Border {
  background-color: #f9f2dd;
  height: 60px;
}

